<%- include('./layouts/header.ejs') %>

<div class="container px-4 px-lg-5 posts">
    <!-- Heading Row-->

    <% if(posts.length > 0){
        for(let i = (posts.length-1); i >= 0; i--){
    %>
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= posts[i].image || 'https://dummyimage.com/900x400/dee2e6/6c757d.jpg' %>" alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light"><%= posts[i].title %></h1>
            <p><%= posts[i].content %></p>
            <a class="btn btn-danger" href="/post/<%= posts[i]._id %>">Read More</a>
        </div>
    </div>
    <% }
    } else { %>
    <h1>Posts are not available!</h1>
    <% } %>
</div>

<script>
    var socket = io();
    socket.on("new_post", function (formData) {
        var html = "";
        var image = formData.image !== '' ? formData.image : 'https://dummyimage.com/900x400/dee2e6/6c757d.jpg';
        html += `
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="${image}" alt="..." />
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">${formData.title}</h1>
                    <p>${formData.content}</p>
                    <a class="btn btn-danger" href="/post/${formData._id}">Read More</a>
                </div>
            </div>
        `;
        $('.posts').prepend(html);
    });
</script>

<%- include('./layouts/footer.ejs') %>
